@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message) {

	<img src="@routes.Assets.versioned("images/liza.jpg")" alt="Liza" style="width:480px;height:640px;">
	<br>
	<a href="@routes.HomeController.wakeLiza()" data-role="button">Väck Liza</a>
}
